@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}

.admin nav a {
    all: unset;
    cursor: pointer;
}

/* Prevent Alpine.js x-cloak flicker */
[x-cloak] { display: none !important; }
